$bodyBgColor:  rgb(83, 85, 251);


*{
    margin: 0;
    padding: 0;
    border: 0;
}



body {
    background-color: $bodyBgColor;
    


    main {

        section-1 {
            margin: 4% 17% 5% 17%;
                background-color: white;
                border-radius: 10px;
                display: flex;

            .logo-div {
                
               

                .dog {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;

                }

            }

            .start-div {
                

                .shoprite-name {
                    border: 1px solid black;
                    font-size: 350%;
                    font-family: 'Xanh Mono', monospace;
                    width: 100%;
                    margin: 10% 20%;
                    // font-weight: 10800;

                }

                .start-btn {
                    

                }

            }
        }
    }
}
