


*{
    margin: 0;
    padding: 0;
    border: 0;
}



body {

    main {

        section-1 {

            .logo-div {

            }

            .start-div {

                .shoprite-name {

                }

                .start-btn {

                }

            }
        }
    }
}
